<div class="address-wrapper" style="padding-bottom: 200px;">
	
	<div class="container">
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1" style="margin-bottom: 30px;" >
				<h1>新しいお届け先住所を登録</h1>

				<% if @address_menus.errors.any? %>
					<% @address_menus.errors.full_messages.each do |message| %>
					<%= message %>
					<% end %>
				<% end %>
			</div>
		</div>
		<%= form_for @address_menus,url: end_user_address_menus_path(@enduser.id) do |f| %>
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2" >
				<table>
					<tbody>
						<tr>
							<td width="200">
								<div class="address-box">
								<h3>氏名</h3></div>
							</td>
							<td width="400"><div class="field">
       			 				<%= f.text_field :name %></div>
							</td>
      					</tr>
      					<tr>
							<td><div class="address-box">
								<h3>郵便番号</h3>
								<p>(ハイフン不要)</p></div>
							</td>
							<td><div class="field">
        						<%= f.text_field :postal_code %></div>
      						</td>
      					</tr>
						<tr>
							<td><div class="address-box">
								<h3>住所</h3></div>
							</td>
							<td><div class="field">
        						<%= f.text_field :address %></div>
      						</td>
      					</tr>
      				</tbody>
      			</table>
      		</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-9">
				<div class="actions">
        			<p><%= f.submit "追加" %></p>
      			</div>
			</div>
		</div>
		<% end %>
		<div class="address-under">
			<div class="row">
				<h1 class="col-xs-3 col-xs-offset-1" style="margin-top:10%;">登録済み住所</h1>
					<div class="row">
					<div class="address-under-box col-xs-8 col-xs-offset-2 border-font">
						<div class="row">
							<h3 class="col-xs-3">氏名</h3>
							<div class="col-xs-8 col-xs-offset-1 border-font">
								<h3><%= @enduser.first_name %><%= @enduser.last_name %></h3>
							</div>
						</div>
						<div class="row" style="margin-top: 20px;">
							<h3 class="col-xs-3">郵便番号</h3>
							<div class="col-xs-8 col-xs-offset-1 border-font">
								<h3><%= @enduser.postal_code %></h3>
							</div>
						</div>
						<div class="row" style="margin-top: 20px;">
							<h3 class="col-xs-3">住所</h3>
							<div class="col-xs-8 col-xs-offset-1 border-font">
								<h3><%= @enduser.address %></h3>
							</div>
						</div>
						<p>※ご入会時に登録して頂いた住所です。ユーザー情報編集ページから変更できます。</p>
					</div>
				</div>
			<% @enduser.address_menus.each do |address_menu| %>
				<div class="row">
					<div class="address-under-box col-xs-8 col-xs-offset-2 border-font">
						<div class="row">
							<h3 class="col-xs-3">氏名</h3>
							<div class="col-xs-8 col-xs-offset-1 border-font">
								<h3><%= address_menu.name %></h3>
							</div>
						</div>
						<div class="row" style="margin-top: 20px;">
							<h3 class="col-xs-3">郵便番号</h3>
							<div class="col-xs-8 col-xs-offset-1 border-font">
								<h3><%= address_menu.postal_code %></h3>
							</div>
						</div>
						<div class="row" style="margin-top: 20px;">
							<h3 class="col-xs-3">住所</h3>
							<div class="col-xs-8 col-xs-offset-1 border-font">
								<h3><%= address_menu.address %></h3>
							</div>
						</div>
				</div>
				<div class="row">
					<div class="col-xs-2 col-xs-offset-9" style="margin-top: 10px">
						<button style="width: 100%;">
							<p><%= link_to "削除", end_user_address_menus_path(address_menu.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></p>
						</button>
					</div>
				</div>
				</div>
			<% end %>
		</div>
	</div>
</div>








