<h2 class="devise-title">Sign up</h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email,class: "devise-font" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "devise-box" %>
  </div>

  <div class="field">
    <%= f.label :password,class: "devise-font" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",class: "devise-box" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation,class: "devise-font" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "devise-box" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up",class: "action-btn" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>
