<div class="admin-user-edit">
	<div class="container">
		<div class="admin-user-edit-title"style="margin: 30px">
			<h1>お客様編集</h1>
		</div>

		<div class="row">
			<ul class="col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>名前</string></p>
					<p style="padding-left: 10%;"><%= @enduser.first_name %><%= @enduser.last_name %></p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>フリガナ</string></p>
					<p style="padding-left: 10%;"><%= @enduser.details_first_name %><%= @enduser.details_first_name %></p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>郵便番号</string></p>
					<p style="padding-left: 10%;"><%= @enduser.first_postal_code %>-<%= @enduser.last_postal_code %></p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>住所</string></p>
					<p style="padding-left: 10%;"><%= @enduser.address %></p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>電話番号</string></p>
					<p style="padding-left: 10%;"><%= @enduser.tel %></p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>Email</string></p>
					<p style="padding-left: 10%;"><%= @enduser.email %></p>
				</li>
			</ul>
		</div>
		<div class="row" style="margin: 50px">
			<div class="col-xs-10 col-xs-offset-1">
				<%= link_to "退会" , destroy_end_user_session_path, class: "btn btn-default pull-right" %>
			</div>
		</div>
	</div>
</div>