<div class="productindex-wrapper">
	<div class="container">
	   <div class="row" style="text-align: center;">
	    <%= search_form_for @search, url:  admins_products_path do |f| %>
	    <!--nameカラムに対して部分一致検索ができる-->
	    	<div class="row text-right" style="padding-right: 3%; padding-top: 2%;">
	    		<%= f.label :album_name_cont, "商品検索" %>
	    		<%= f.text_field :album_name_cont %>
	    		<%= f.submit"検索" %>
	    	</div>
	    <% end %>
	   </div>
	   <div class="row">
	   		<div class="col-xs-2" style="margin-top: 10px;  border-right:3px solid #999; border-left:3px solid #999;">
	  		  <h3>ランキング</h3>
	  		  <% @all_ranks.each.with_index(1) do |rank,i| %>
	  			<div class="row">
	  				<h4 style="margin-bottom: 0; padding-top: 10px;padding-left: 10%;"><%= i %>位</h4>
	  				<%= link_to product_path(rank) do %>
						<%= attachment_image_tag rank, :profile_image, :fill, 150, 150,format:"jpeg",fallback: "no_image.jpg",size:'150x150' %>
					<% end %>
	  				<p style="margin-bottom: 5px; padding-top: 5px; padding-left: 10%;"><%= rank.artist.name %></p>
					<p style="margin-bottom: 5px;padding-left: 10%;"><%= rank.album_name %></p>
					<p style="margin-bottom: 5px;padding-left: 10%;"><%= rank.price %>円</p>
	  			</div>
	  		  <% end %>
	  		</div>
	  		<div class="offset-1 col-xs-10">
		   	<h2>アルバム一覧</h2>
			   	<table class="admin-product-index" width="100%" style="text-align: center;">
			   		<thead>
		  			<tr>
		  				<th width="100"></th>
		  				<th width="150" style="padding-left: 12%;">曲名</th>
		  				<th width="150" style="padding-left: 10%;">アーティスト</th>
		  				<th width="150"></th>
		  			</tr>
	  		  		</thead>
	  		  		<tbody>
			  		<% if @products.present? %>
					   	<% @products.each do |product| %>
					   		<tr>
					   			<td width="100"><%= attachment_image_tag product, :profile_image, :fill, 80, 80,format:"jpeg",fallback: "no_image.jpg",size:'80x80'  %></td>
					   			<td width="150"><%= product.album_name %></td>
					   			<td width="150"><%= product.artist.name %></td>
					   			<td width="150"><%= link_to "編集",admins_product_path(product), class: "btn btn-info" %></td>
					   		</tr>
					 	<% end %>
			   		<% end %>
			   		</tbody>
			   	</table>
	   		</div>
		</div>
	</div>
</div>
  <%#= paginate @products,class: "paginate" %>