<div class="albumnew-wrapper">
	<div class="container">
		<h1>アルバム新規登録</h1>
			<%= form_for @product, url:"/admins/products" do |f| %>
				<div class="row">
					<div class="col-xs-4">
						<img src="/no_image.jpg" height="300px">
					</div>
					<div class="col-xs-2 col-xs-offset-1">
						<%= f.attachment_field :profile_image %>
						<!-- <button style="width: 100%; margin-top: 150px;">
							<p>アルバム追加</p>
						</button> -->
					</div>
				</div>
				<div class="row">
					<h4 class="col-xs-4">CD枚数</h4>
				<%= f.fields_for :discs do |disc| %>
					<%= disc.select :disc_number, [["1枚","1枚"],["2枚","2枚"],["3枚","3枚"],["4枚","4枚"]] %>
														<!-- 左が見せる値右がデータベースに入れる値 -->
					</div>
					<!-- 押したらアーティスト一覧がでるものを作成しなければならない -->
					<div class="row">
						<h4 class="col-xs-4">アーティスト名</h4>
						<%= f.collection_select :artist_id, Artist.all,:id, :name %>
					</div>
					<div class="row">
						<h4 class="col-xs-4">シングル/アルバム名</h4>
						<%= f.text_field :album_name,style: "width: 300px" %>
					</div>
					<div class="row">
						<h4 class="col-xs-4">価格(税抜)</h4>
						<%= f.number_field :price,style: "150px" %>
					</div>
					<div class="row">
						<h4 class="col-xs-4">レーベル名</h4>
						<%= f.collection_select :label_name_id, Label.all,:id, :name,class: "col-xs-8" %>
					</div>
					<div class="row">
						<h4 class="col-xs-4">ジャンル</h4>
						<%= f.collection_select :genre_id, Genre.all,:id, :name %>
					</div>
					<div class="row">
						<h4 class="col-xs-4">在庫数</h4>
						<%= f.number_field :stock,style: "150px" %>
					</div>
					<div class="row">
						<h4 class="col-xs-4">ステータス(販売中・販売停止中)</h4>
						<%= f.text_field :status,style: "150px" %>
					</div>
					<%= disc.fields_for :songs do |song| %>
						<div class="row">

							<h4 class="col-xs-4">シングル/アルバム内の曲名</h4>
							<div class="col-xs-7 col-xs-offset-4">
								<%= song.text_field :name,class: "width:300px" %>
							</div>
						</div>
					<% end %>
				<% end %>

				<!-- cocoon 新しく曲名追加欄をもたせるため -->
					<%= f.fields :discs do |disc| %>
						<%= render 'disc_field', f:disc %>
					<% end %>


				<div class="main-button col-xs-2 col-xs-offset-9">
					<div class="main-button-delete mypage-border-font">
				        <%= f.submit "商品を追加する" %>
				    </div>
			    </div>
		<% end %>
	</div>
</div>
