<div class="productshow-wrapper">
  <div class="container">
  	<div class="row" style="padding-top: 10%;">
	  	<div class="col-xs-4">
	  		<p style="border-bottom:3px solid #999;"><%= @product.album_name %></p>
	  		<%= attachment_image_tag @product, :profile_image, :fill, 300, 300,format:"jpeg",fallback: "no_image.jpg",size:'300x300'  %>
	  		<div style="float: left; padding-left: 5%;">
	  		<p style="font-size: 16px; padding-top: 10px;">アーティスト:<%= @product.label.name %></p>
	  		<p style="font-size: 16px;">価格:<%= @product.price %>円</p>
	  		</div>
	  	</div>
	  	<div class="col-xs-8" style="padding-left: 10%;">
	  		<table class="product-main" style="font-size: 16px;">
	  		  <thead>
	  			<tr>
	  				<th></th>
	  				<th>曲名</th>
	  				<th>アーティスト</th>
	  			</tr>
	  		  </thead>
	  		  <% @product.discs.each do |disc| %>
	  				<% disc.songs.each do |song| %>
			  			<tr>
			  				<td width="15%"><%= song.track %></td>
			  				<td width="50%"><%= song.name %></td>
			  				<td width="25%"><%= @product.artist.name %></td>
			  			</tr>
			  		<% end %>
	  			<% end %>
	  		</table>
	  		<div style="padding-top: 5%;">
	  			<%= link_to "編集", edit_admins_product_path, class: "btn btn-info" %>
	  		</div>
	  	</div>
		  	<div class="text-center" style="padding-right: 20%; padding-top: 10%;">
	   	   </div>
	 </div>
  </div>
</div>

<div class="review-wrapper">
  <div class="container">
  	<h2>レビュー一覧</h2>
  	   <div class="row">
  	   	<% @product.comments.each do |comment| %>
  		  <ol class="review-list" style="border: 2px solid #999;">
	          <li class="comment">
	            <div class="comment-body bb">
	                <div class="comment-text">
	                    <div class="comment-author clearfix">
	                        <span class="comment-meta">
	                          <span class="comment-date"><%= comment.created_at.strftime('%Y/%m/%d') %></span>
	                          <span class="comment-date"><%= comment.end_user.first_name %>さんのレビュー</span>
	                        </span>
	                    </div>
	                    <div class="comment-entry">
	                    	<%= comment.comment %>
		                    <div class="text-right">
	       						<button style="width: 30%;">
									<%= link_to "削除", product_comment_path(@product,comment), method: :delete, "data-confirm" => "本当に削除しますか？" %>
								</button>
	   	   					</div>
   	   					</div>
	                </div>
	            </div>
	          </li>
         </ol>
        <% end %>
  	  </div>
  </div>
</div>