<div class="productindex-wrapper" style="color: #888888">
	<div class="container" style="width:100%;">
	  <h1 style="text-align: center;">TATSUYA</h1>
	   <div class="row" style="text-align: center;">

	   	<%= search_form_for @search do |f| %>
	    <!--nameカラムに対して部分一致検索ができる-->
	    	<div class="row text-right" style="padding-right: 3%;">
	    		<%= f.label :album_name_cont, "商品検索" %>
	    		<%= f.text_field :album_name_cont %>
	    		<%= f.submit "検索" %>
	    	</div>
	    <% end %>

	   </div>

	  	 <div clss="row">
	  		<div class="col-xs-2" style="padding-top: 1%; margin-top: 10px;  border-right:3px solid #999;">
	  		  <h3>ランキング</h3>
	  		  <% @all_ranks.each.with_index(1) do |rank,i| %>
	  			<div class="row" style="display: inline-block; text-align: center;margin: 0 auto;padding-left:8%;">
	  				<h4 style="margin-bottom: 0; padding-top: 10px;padding-left: 10%;"><%= i %>位</h4>
	  				<%= link_to product_path(rank) do %>
						<%= attachment_image_tag rank, :profile_image, :fill, 150, 150,format:"jpeg",fallback: "no_image.jpg",size:'150x150' %>
					<% end %>
	  				<p style="margin-bottom: 5px; padding-top: 5px; padding-left: 10%;"><%= rank.artist.name %></p>
					<p style="margin-bottom: 5px;padding-left: 10%;"><%= rank.album_name %></p>
					<p style="margin-bottom: 5px;padding-left: 10%;"><%= rank.price %>円</p>
	  			</div>
	  		  <% end %>
	  		</div>
	  		<div class="offset-1 col-xs-10" style="padding-top: 1%;border-right:3px solid #999;">
	  		  <h3 style="padding-left: 4%; padding-bottom: 10px;background-color: #000080;color: yellow;">CD一覧</h3>
	  			<ul class="product-list">
	  				<!-- ---------------------------------------------------- -->

	  				<ul class="skill-list jscroll">
		  				<% @products.each do |product| %>
						    <li class="product" style="border: 4px solid white; box-shadow: 0 0 5px gray;">
								<div>
									<%= link_to product_path(product) do %>
									<%= attachment_image_tag product, :profile_image, :fill, 200, 200,format:"jpeg",fallback: "no_image.jpg",size:'200x200' ,class: "rounded" %>
									<% end %>
								<div style="padding-left: 7%; padding-bottom: 5%;">
									<p style="margin-bottom: 0px; padding-top: 10px;font-weight: bold;"><%= product.artist.name %></p>
									<p style="margin-bottom: 0px;"><%= product.album_name %></p>
									<p style="margin-bottom: 0px;"><%= product.price %>円</p>
								</div>
								</div>
							</li>
						<% end %>
						<%= paginate @products %>
					</ul>
					<!-- ---------------------------------------------------- -->
				</ul>
	  		</div>
	  	 </div>
	</div>
</div>
