<div class="productshow-wrapper">
  <div class="container">
  	<div class="row" style="padding-top: 10px;">
	  	<div class="col-xs-4">
	  		<p style="border-bottom:3px solid #999;">アルバム名:<span style="padding-left: 30px;font-size: 20px"><%= @product.album_name %></span></p>
	  		<%= attachment_image_tag @product, :profile_image, format: 'jepg', fallback: "sample_image.jpg", size: "300x300" %>
	  		<div style="float: left; padding: 5px;">
		  		  <P style="font-size: 15px;">レーベル名:<span style="font-size: 20px; padding-left: 30px;"><%= @product.label.name %></span></P>
		  		  <p style="font-size: 15px;">価格:<span style="font-size: 20px; padding-left: 30px;"><%= @product.price %>円</span></p>
		  		  <p style="font-size: 15px;">配送状況:<span style="font-size: 20px;padding-left: 30px;"><%= @product.status %></span></p>
		  		  <p style="font-size: 15px;">在庫数:<span style="font-size: 20px; padding-left: 30px;"><%= @product.stock %></span><p>
		  		  <p style="font-size: 15px;">個数:<span style="padding-left: 30px;"><input name="cnt" type="text" value="1" size="4"></span><p>
		  	  <%= form_for @cart, url: end_user_carts_path(current_end_user.id) do |f| %>
	       		  <span>個数</span><%= f.number_field :quantity %><br>
	       		<%= f.hidden_field :product_id, value: @product.id %>
	      		<div class="row">
	      			<%= f.submit "カートに追加する" %>
	       			<!-- <a href="https://local-clips.com/" class="btn" style="width: 400px;">カートに追加</a> -->
	    		</div>
	    	  <% end %>
		  		  <%#= link_to "カートに追加" ,  end_user_carts_path(current_end_user), class: "btn btn-default" %>
	        </div>
	  	</div>
	  	<div class="col-xs-8" style="padding-left: 10%;">
	  		<table class="product-main" style="font-size: 16px;">
	  		  <thead>
	  			<tr>
	  				<th></th>
	  				<th>曲名</th>
	  				<th>アーティスト</th>
	  			</tr>
	  		  </thead>
	  		  <% @product.discs.each do |disc| %>
		  		   <% disc.songs.each do |song| %>
			  		  <tbody>
			  			<tr>
			  				<td width="15%"><%= song.track %></td>
			  				<td width="50%"><%= song.name %></td>
			  				<td width="25%"><%= @product.artist.name %></td>
			  			</tr>
			  		  </tbody>
	  		      <% end%>
	  		  <% end %>
	  		</table>
	  		<div class="product-comment" style="padding-top: 350px;">
	  		  <textarea style="width: 100%; height: 150px;"></textarea>
	  		</div>
	  	</div>
	 </div>
  </div>
</div>
<div class="add-review-wrapper" style="padding-top: 20px;">
	<div class="container" style="border: 3px solid #dddddd; border-radius: 10px; height: auto;">
		<h2>レビュー追加</h2>
		<div class="add-review" style="padding: 10px;">
			<input type="button" value="追加" style="width:300px; height:30px;">
		</div>
		<div class="row">
			<textarea style="width: 100%; height: 150px;"></textarea>
		</div>
	</div>
</div> 
<div class="review-wrapper">
  <div class="container">
  	<h2>レビュー一覧</h2>
  	   <div class="row">
  		  <ol class="review-list" style="border: 2px solid #999;">
	          <li class="comment">
	            <div class="comment-body bb">
	                <div class="comment-text">
	                    <div class="comment-author clearfix">
	                        <span class="comment-meta">
	                          <span class="comment-date">2019/6/11</span>
	                        </span>
	                    </div>
	                    <div class="comment-entry">コメント内容</div>
	                </div>
	            </div>
	          </li>
	          <input type="button" value="削除" style="width:100px; height:30px; float: right;">
         </ol>
  	  </div>
  </div>
</div>