<div class="productshow-wrapper">
	<div class="container">
		<div class="row" style="padding-top: 10px;">
			<div class="col-xs-4" style="padding-top: 3%">
				<p style="border-bottom:3px solid #999;">アルバム名:
				<span style="padding-left: 30px;font-size: 20px"><%= @product.album_name %></span>
				</p>
				<%= attachment_image_tag @product, :profile_image, format: 'jepg', fallback: "no_image.jpg", size: "300x300" %>
				<div style="float: left; padding: 5px;">
						<P style="font-size: 15px;">レーベル名:
							<span style="font-size: 20px; padding-left: 30px;"><%= @product.label.name %></span></P>
						<p style="font-size: 15px;">価格:
							<span style="font-size: 20px; padding-left: 30px;"><%= @product.price %>円</span></p>
						<p style="font-size: 15px;">販売状況:
							<span style="font-size: 20px;padding-left: 30px;"><%= @product.status %></span></p>
						<p style="font-size: 15px;">在庫数:
							<span style="font-size: 20px; padding-left: 30px;"><%= @product.stock %></span><p>

					<%= form_for [@product, @cart], url: product_carts_path(@product) do |f| %>
						<!-- <span style="font-size: 15px;">個数:</span> --><%#= f.number_field :quantity %>
					<% if @product.stock > 0 %>
						<p style="font-size: 15px;">個数:
						<span style="font-size: 15px; padding-left: 30px;"><%= f.select :quantity, @limit %></span></p>
					<% end %>

						<%= f.hidden_field :product_id, value: @product.id %>
						<div class="row" style="padding: 10px">
							<% if end_user_signed_in? %>
					        <% if @product.favorited_by?(current_end_user) %>
				  				<li class="favorite">
				    				<%= link_to product_favorites_path(@product), method: :delete do %>
				      				    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
				      				<%= @product.favorites.count %>
									<% end %>
							<% else %>
				    				<%= link_to product_favorites_path(@product), method: :post do %>
				      					<i class="far fa-heart" aria-hidden="true"></i>
				      					<%= @product.favorites.count %> いいね
				    				<% end %>
						    <% end %>
						   <% else %>
				      					<i class="far fa-heart" aria-hidden="true"></i>
				      					<%= @product.favorites.count %> いいね
				    		<% end %>
						</div>
							<% if end_user_signed_in? %>
						<% if @product.status == "販売中" && @product.stock > 0 %>
				      		<%= f.submit "カートに追加する", class: "btn btn-default pull-right" %>
				      	<% else%>
				      		<p style="font-size: 25px;color: red">現在購入できません</p>
			      		<% end %>
			      			<% end %>
				    <% end %>
				</div>
			</div>
			<div class="col-xs-8" style="padding-left: 10%;padding-top: 4%;">
			  	<table class="product-main" style="font-size: 16px;">
			  		<thead>
			  			<tr>
			  				<th></th>
			  				<th>曲名</th>
			  				<th>アーティスト</th>
			  			</tr>
			  		</thead>
			  		<% @product.discs.each do |disc| %>
				  		<% disc.songs.each do |song| %>
					  		<tbody>
					  			<tr>
					  				<td width="15%"><%= song.track %></td>
					  				<td width="50%"><%= song.name %></td>
					  				<td width="25%"><%= @product.artist.name %></td>
					  			</tr>
					  		</tbody>
			  		    <% end%>
			  		<% end %>
			  	</table>
				<div class="product-comment" style="padding-top: 50%;">
			  		  <p style="border: 1px solid #dddddd; width: 550px; height: 150px"><%= @product.body %></p>
				</div>
			</div>
		</div>
	</div>
</div>
<% if end_user_signed_in? %>
<div class="add-review-wrapper" style="padding-top: 20px;">
	<div class="container" style="border: 3px solid #dddddd; border-radius: 10px; height: auto;">
		<h2>レビュー追加</h2>
		<%= form_for [@product, @comment] do |f| %>
			<div class="row">
				<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
				<div class="add-review" style="padding: 10px;">
					<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
				</div>
			</div>
		<% end %>
	</div>
</div>
<% end %>

<div class="review-wrapper">
	<div class="container">
  		<h2>レビュー一覧</h2>
  		<% @product.comments.each do |comment| %>
			<div class="row">
  		  		<ol class="review-list" style="border: 2px solid #999;">
	        		<li class="comment">
						<div class="comment-body bb">
							<div class="comment-text">
								<div class="comment-author clearfix">
		                        	<span class="comment-meta">
		                          	<span class="comment-date"><%= comment.created_at.strftime('%Y/%m/%d') %></span>
		                          	<span class="comment-date"><%= comment.end_user.first_name %>さんのレビュー</span>
		                        	</span>
								</div>
								<div class="comment-entry"><%= comment.comment %></div>
							</div>
						</div>
	          		</li>
					<% if current_end_user %>
						<div class="text-right">
			        		<button style="width: 30%;">
								<p><%= link_to "削除", product_comment_path(@product,comment), method: :delete, "data-confirm" => "本当に削除しますか？" %></p>
							</button>
						</div>
					<% end %>
         		</ol>
			</div>
  	 	<% end %>
	</div>
</div>