<!DOCTYPE html>
<html>
  <head>
    <title>TATSUYA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a href="home.html" class="header-title">HOME</a>
          </li>
          <li class="nav-list-item">
            <a href="home.html" class="header-title">Mypage</a>
          </li>
          <li class="nav-list-item">
            <a href="home.html" class="header-title">Logout</a>
          </li>
        </ul>
      </nav>
    </header>

    <%= yield %>
  
  </body>
</html>
