<!DOCTYPE html>
<html>
  <head>
    <title>TATSUYA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.0/css/all.css" >

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>

      <% if end_user_signed_in? %>
        <div class="header-title"><%= current_end_user.first_name %>がLogin中</div>
      <% end %>

       <% if end_user_signed_in? %>
          <nav>
            <ul class="nav-list">
              <li class="nav-list-item">
                <%= link_to "商品一覧", products_path,class: "header-title glyphicon glyphicon-th-list" %>
              </li>
              <li class="nav-list-item">
                <%= link_to "マイページ", end_user_path(current_end_user), class: "header-title glyphicon glyphicon-user users" %>
              </li>
              <li class="nav-list-item">
                <%= link_to "ログアウト", destroy_end_user_session_path, class: "header-title glyphicon glyphicon-log-out logout", method: :delete %>
              </li>
              <li class="nav-list-item">
                <%= link_to end_user_carts_path(current_end_user) do %>
                  <i class="fas fa-shopping-cart" style="color: yellow"></i>
                <% end %>
              </li>
              <li class="nav-list-item">
                <%= link_to inquiry_path do %>
                  <i class="fab fa-telegram-plane"></i>
                <% end %>
              </li>
            </ul>
          </nav>
        <% elsif admin_signed_in? %>
          <nav>
            <ul class="nav-list">
              <li class="nav-list-item">
                <%= link_to "", admins_end_users_path,class: "header-title glyphicon glyphicon-user users" %>
              </li>
              <li class="nav-list-item">
                <%= link_to "",   new_admins_product_path, class: "header-title glyphicon glyphicon-saved" %>
              </li>
              <li class="nav-list-item">
                <%= link_to "",admins_products_path,class: "header-title glyphicon glyphicon-th-list" %>
              </li>
              <li class="nav-list-item">
                <%= link_to "", admins_order_appends_index_path , class: "header-title glyphicon glyphicon-shopping-cart" %>
              </li>
              <li class="nav-list-item">
                <%= link_to "", destroy_admin_session_path,class: "header-title glyphicon glyphicon-log-out logout", method: :delete %>
              </li>
              <li class="nav-list-item">
                <%= link_to inquiry_admin_index_path do %>
                  <i class="fab fa-telegram-plane"></i>
                <% end %>
              </li>
            </ul>
          </nav>
        <% else %>
          <nav>
            <ul class="nav-list">
              <li class="nav-list-item">
                <%= link_to "HOME", "/", class: "header-title glyphicon glyphicon-home home" %>
              </li>
              <li class="nav-list-item">
                <%= link_to "新規登録", new_end_user_registration_path, class: "header-title glyphicon glyphicon-edit sign_up" %>
              </li>
              <li class="nav-list-item">
                <%= link_to "ログイン",new_end_user_session_path, class: "header-title glyphicon glyphicon-log-in sign_in"%>
              </li>
            </ul>
          </nav>
        <% end %>

    </header>

     <% if flash[:notice] %>
       <p class="alert-success" style="text-align: center; height: 30px; font-size: 20px;margin-bottom: 0;"><%= flash[:notice] %></p>
     <% end %>
    <%= yield %>

    <footer>
      <div class="container">
        <h3>TATSUYA<span style="padding-left: 50px;">長野県長野市長野原1-12-1</span>
          <p class="nav-list-item" style="padding-left: 50px;">
            <% if end_user_signed_in? %>
              <%= link_to "", destroy_end_user_session_path,class: "header-title glyphicon glyphicon-log-out logout", method: :delete %>
            <% elsif admin_signed_in? %>
              <%= link_to "", destroy_admin_session_path,class: "header-title glyphicon glyphicon-log-out logout", method: :delete %>
            <% else %>
            <% end %>
          </p>
        </h3>

      </div>
    </footer>

  </body>
</html>
