<!DOCTYPE html>
<html>
  <head>
    <title>TATSUYA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer style="border: 3px solid #aaaadd">
      <div class="container">
        <h3 class="text-left">TATSUYA<span style="padding-left: 50px;">長野県長野市長野原1-12-1</span>
        </h3>
        <%= link_to destroy_end_user_session_path,method: :delete do %>
          <h3 style="color: white">ログアウト</h3>
        <% end %>
      </div>
    </footer>
  </body>
</html>
