<!DOCTYPE html>
<html>
  <head>
    <title>TATSUYA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a href="home.html" class="header-title">HOME</a>
          </li>
          <li class="nav-list-item">
            <a href="home.html" class="header-title">Mypage</a>
          </li>
          <li class="nav-list-item">
            <a href="home.html" class="header-title">Logout</a>
          </li>
        </ul>
      </nav>
    </header>

    <%= yield %>
<<<<<<< HEAD
  
=======
    <footer style="border: 3px solid #aaaadd">
      <div class="container">
        <h3 class="text-left">TATSUYA<span style="padding-left: 50px;">長野県長野市長野原1-12-1</span>
        </h3>
      </div>
    </footer>
>>>>>>> master
  </body>
</html>
