<!DOCTYPE html>
<html>
  <head>
    <title>TATSUYA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>

      <% if end_user_signed_in? %>
        <%= current_end_user.first_name %>がLogin中
      <% end %>

       <% if end_user_signed_in? %>
          <nav>
            <ul class="nav-list">
              <li class="nav-list-item">
                <%= link_to "HOME", products_path,class: "header-title" %>
              </li>
              <li class="nav-list-item">
                <%= link_to "マイページ", end_user_path(current_end_user), class: "header-title" %>
              </li>
              <li class="nav-list-item">
                <%= link_to "Log Out", destroy_end_user_session_path,class: "header-title", method: :delete %>
              </li>
            </ul>
          </nav>
       <% else %>
         <nav>
            <ul class="nav-list">
              <li class="nav-list-item">
                <%= link_to "HOME", "/", class: "header-title" %>
              </li>
              <li class="nav-list-item">
                <%= link_to "Sgin up", new_end_user_registration_path, class: "header-title" %>
              </li>
              <li class="nav-list-item">
                <%= link_to "Log in",new_end_user_session_path, class: "header-title"%>
              </li>
            </ul>
          </nav>
        <% end %>

    </header>


    <%= yield %>

    <footer style="border: 3px solid #aaaadd">
      <div class="container">
        <h3 class="text-left">TATSUYA<span style="padding-left: 50px;">長野県長野市長野原1-12-1</span>
        </h3>
        <%= link_to destroy_end_user_session_path,method: :delete do %>
          <h3 style="color: white">ログアウト</h3>
        <% end %>
      </div>
    </footer>

  </body>
</html>
