<div class = "order-new-wrapper">
	<div class ="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<h3 style="border-bottom:1.0px solid black; margin-top: 30px;">送付先選択</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-2">
				<h4><input type="radio" name="order-appnds addres" value="existing address">既存の住所</h4>
			</div>
			<div class="col-xs-4">
				<p>登録してある住所<%= current_end_user.address %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-2">
				<%= form_for(@order_append,url: order_appends_create_path) do |f| %>
					<label>
						<%= f.radio_button :order_appnds_address,"新しい送り先" %>
					</label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-3">
				<h3>名前</h3>
			</div>
			<div class="col-xs-5 col-xs-offset-2">
				<%= f.text_field :name %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-3">
					<h3>住所</h3>
			</div>
			<div class="col-xs-5 col-xs-offset-2">
				<%= f.text_field :address, size: 30 %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-3">
				<h3>郵便番号<br>
				<span style="font-size:10px; line-height: 5px;">(ハイフンなし)</span></h3>
			</div>
			<div class="col-xs-5 col-xs-offset-2">
				<%= f.text_field :postal_code %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<h3 style="border-bottom:1.0px solid black;">支払い方法選択</h3>
			</div>
		</div>
		<div class="row">
			<%= form_tag admins_order_append(@current_end_user.id), method: 'post' do %>
			<div class="col-xs-4 col-xs-offset-2">
				<label>
					<%= f.radio_button,"代引き" %>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-2">
				<label>
					<%= f.radio_button,"クレジットカード" %>
				</label>
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<input type="credit-card-date">

			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-2">
				<label>
					<%= f.radio_button,"銀行振込" %>
				</label>
			</div>
			<% end %>
		</div>
		<% end %>
		<div class="row">
			<div class="col" style="margin: 50px 0; text-align: center">
				<%= f.submit "購入" %>

		<!---->
			</div>
		</div>
	</div>
</div>
